name: {{ theme }}
type: theme
base theme: liberty
description: {{ description }}
package: Custom
core: 8.x
libraries:
- {{ machine_name }}/global-styles
# Uncomment if you have JS that will be used on all pages of the site.
# - {{ machine_name }}/global-scripts
libraries-override:
  core/assets/vendor/normalize-css/normalize.css: false
regions:
  header: Header
  primary_menu: 'Primary menu'
  secondary_menu: 'Secondary menu'
  breadcrumb: Breadcrumb
  highlighted: Highlighted
  help: Help
  content: Content
  sidebar_first: 'First sidebar'
  sidebar_second: 'Second sidebar'
  footer: Footer
