{% if build_tool == 'Gulp' %}
  {% set postinstallbuild = "gulp install" %}
{% elseif build_tool == 'Grunt' %}
  {% set postinstallbuild = "grunt" %}
{% endif %}
{
  "name": "liberty",
  "description": "Build tools for the Drupal 8 Liberty starter theme.",
  "version": "0.1.0",
  "devDependencies": {
  {% if build_tool == 'Gulp' %}
    "autoprefixer": "^6.3.6",
    "del": "^2.2.0",
    "gulp": "^3.9.1",
    "gulp-csslint": "^0.3.0",
    "gulp-eslint": "^2.0.0",
    "gulp-livereload": "^3.8.1",
    "gulp-postcss": "^6.1.0",
    "gulp-sass": "^2.2.0",
    "gulp-sass-globbing": "0.0.2",
    "gulp-sass-lint": "^1.1.1",
    "gulp-watch": "^4.3.5",
    "gulp-wiredep": "0.0.0",
    "postcss-pxtorem": "^3.3.1"
  {% elseif build_tool == 'Grunt' %}
    "autoprefixer": "^6.2.0",
    "bower-config": "^1.3.0",
    "grunt": "^0.4.5",
    "grunt-contrib-clean": "^0.7.0",
    "grunt-contrib-csslint": "^0.5.0",
    "grunt-contrib-watch": "^0.6.1",
    "grunt-eslint": "^18.0.0",
    "grunt-postcss": "^0.7.1",
    "grunt-px-to-rem": "^0.4.0",
    "grunt-sass": "^1.1.0",
    "grunt-sass-globbing": "^1.4.0",
    "grunt-sass-lint": "0.1.0-beta.4",
    "grunt-wiredep": "^2.0.0",
    "sass-lint": "^1.4.0"
  {% endif %}
  },
  "scripts": {
    "postinstall": "find node_modules/ -name '*.info' -type f -delete && bower install && {{ postinstallbuild }}"
  }
}
